<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>foo.Test2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/Test2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloTemplateServlet</servlet-name>
        <servlet-class>HelloTemplateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloTemplateServlet</servlet-name>
        <url-pattern>/HelloTemplateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DaoTest</servlet-name>
        <servlet-class>DaoTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DaoTest</servlet-name>
        <url-pattern>/DaoTest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestMoneyManagerController</servlet-name>
        <servlet-class>moneymanager.controller.TestMoneyManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestMoneyManagerController</servlet-name>
        <url-pattern>/testmoneymanager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestDataSourceController</servlet-name>
        <servlet-class>moneymanager.controller.TestDataSourceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDataSourceController</servlet-name>
        <url-pattern>/testdatasource</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MyCategoryController</servlet-name>
        <servlet-class>moneymanager.controller.MyCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyCategoryController</servlet-name>
        <url-pattern>/mycategory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubCategoryController</servlet-name>
        <servlet-class>moneymanager.controller.SubCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubCategoryController</servlet-name>
        <url-pattern>/subcategory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DateController</servlet-name>
        <servlet-class>moneymanager.controller.DateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateController</servlet-name>
        <url-pattern>/date</url-pattern>
    </servlet-mapping>

</web-app>